#seccionguias {
  text-align: center;
  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #283e51,
    #4b79a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #283e51,
    #4b79a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bordegris {
  margin-top: 6%;
  margin-right: auto;
  margin-left: auto;
  border-color: lightgray;
  -webkit-box-shadow: -5px 5px 10px #111;
  box-shadow: -5px 5px 10px #111;
  justify-content: center;
} /* cada div de guia digital*/

.contenedorgiratorio {
  background-color: white;
  transition: all ease 0.8s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}

.contenedorgiratorio.active {
  transform: perspective(600px) rotateY(180deg);
  z-index: 500;
}

.guiastrasera {
  background-color: white;
  color: black;
  font-size: 13.5px;
  font-weight: 1000;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  position: absolute;
  top: -10px;
  left: -15px;
  height: 100%;
  width: 111%;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
}

.volvergiratorio {
  backface-visibility: hidden;
  position: relative;
  display: block;
  bottom: 0;
  left: 0px;
  cursor: pointer;
}

.contenedorprecioguias {
  display: inline-flex;
  width: 100%;
}

.precioguiasdigitales {
  width: 100%;
}

.etiquetaguiadigital {
  /*ETIQUETA DE GUIAS DIGITALES*/
  float: left;
  padding: 3%;
  background-color: brown;
  opacity: 95%;
  -webkit-box-shadow: -5px 5px 10px #111;
  box-shadow: -5px 5px 10px #111;
}

.precioguiasindividual {
  float: right;
  padding: 2%;
}

.texto {
  color: black;
  opacity: 85%;
}

.border-successf {
  border: none;
}

/*FIIIIIIIIIIIIIIIIN GUIIAAAAAAAAAAAS DIGITALEEEES*/
