
<!--<div id="titulocursoweb" class="tituloscursoscostado ">         
  <h5 >CURSOS WEB</h5>
</div>
<div id="titulocursozoom" class="tituloscursoscostado">
  <h5  >CURSOS POR ZOOM</h5>
</div>
<div id="titulocursolibros" class="tituloscursoscostado">
  <h5  >LIBROS</h5>
</div>
<div id="tituloseccionguias" class="tituloscursoscostado">
  <h5  >GUIAS DIGITALES</h5>
</div>
<div id="tituloseccionservicios" class="tituloscursoscostado">
  <h5  >SERVICIOS</h5>
</div>
-->
<div id="portada" class="portada ">
    <div class="roww">
        <div id="karina" class="grid-item textoenslider ">
            <h1>KARINA VILLAGRA</h1>
             <H5>ESTUDIO JURIDICO</H5>
        </div>
        <div class="grid-item divbotonesslider">
            <a href="nueva.shtml#seccioncursosweb" class="">
              <button type="button" class=" botonesslider btn btn-outline-light">Cursos Web</button>  
            </a>
            <a href="#seccionzoom" class="">   
               <button type="button" class="botonesslider btn btn-outline-light">Cursos por Zoom</button>
            </a>
            <a href="nueva.shtml#seccionlibros" class=""> 
               <button type="button" class="botonesslider btn btn-outline-light">Libros</button>
            </a> 
            <a href="nueva.shtml#seccionguias" class=""> 
               <button type="button" class="botonesslider btn btn-outline-light">Guias Digitales</button>
            </a>
            <a href="nueva.shtml#seccionservicios" class=""> 
               <button type="button" class="botonesslider btn btn-outline-light">Servicios</button>  
            </a> 
            <a> <button id="quienessomosdos" type="button" class="botonesslider btn btn-outline-light">Quienes Somos</button>  
            </a>
        </div>  
    </div>        
    <img src="../assets/img/martillo.jpg" class="" alt="..." >
</div>


<app-curso-web></app-curso-web>

<app-curso-zoom></app-curso-zoom>

<app-libros></app-libros>

<app-guias></app-guias>

<app-servicio></app-servicio>

<router-outlet></router-outlet>
