#sidebar {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: black;
  z-index: 500;
  transition: all 500ms linear;
  border-radius: 20px;
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar.active {
  right: 0;
}

.toggle-btn.active {
  display: none;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

#sidebar ul li a {
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  list-style: none;
}

.logo {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#sidebar .toggle-btn {
  position: absolute;
  right: 190px;
  height: auto;
  top: 40%;
  cursor: pointer;
}

#flecha {
  padding: 15px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  background-color: var(--Color-Boton-Side-Bar);
  border: 1px solid #000;
  font-size: 100%;
  color: aliceblue;
  height: 100%;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
