<div id="sidebar" class="">
    <img src="../../assets/img/flecha.png" id="flecha" />
    <div id="toggle-btn" class="toggle-btn ">
        <span><br>M <br>E <br>N <br>U</span>
    </div>
    <ul class="botonesconder">
       <li><img id="logo" href="nueva.shtml" src="../../assets/img/inicio.png"  class="logo botonesconder"/></li>
       <li><a href="nueva.shtml#seccioncursosweb" >Cursos Web</a></li>
       <li><a href="nueva.shtml#seccionzoom" class="">Cursos por Zoom </a></li>
       <li><a href="nueva.shtml#seccionlibros" class="">Libros</a> </li>
       <li><a href="nueva.shtml#seccionguias" class="">Guias Digitales</a></li>
       <li><a href="nueva.shtml#seccionservicios" class=""> Servicios</a></li>
       <li><a  id="quienessomos" > Quienes Somos</a></li>
    </ul>
</div>